# 预处理
读入诗歌表格，处理成诗人倒排索引和诗歌列表

In [2]:
import pandas as pd
poem_df = pd.read_excel('poem_v2.xlsx')
poem_df

          ID  Poem_id  line_number             content              simple
0          1     4371         -100  ##餞唐永昌( 一作餞唐郎中洛陽令)  ##饯唐永昌( 一作饯唐郎中洛阳令)
1          2     4371           -1               $$沈佺期               $$沈佺期
2          3     4371            1      洛陽舊有( 一作出) 神明宰      洛阳旧有( 一作出) 神明宰
3          4     4371            2             輦轂由來天地中             辇毂由来天地中
4          5     4371            3             餘邑政成何足貴             馀邑政成何足贵
...      ...      ...          ...                 ...                 ...
46272  46273    39205           -1               $$李舜弦               $$李舜弦
46273  46274    39205            1             飲筵中散酒微醒             饮筵中散酒微醒
46274  46275    39205            2             濛濛雨草瑤階溼             蒙蒙雨草瑶阶溼
46275  46276    39205            3             鐘曉愁吟獨倚屏             钟晓愁吟独倚屏
46276  46277    39205            4             盡日池邊釣錦鱗             尽日池边钓锦鳞

[46277 rows x 5 columns]

In [20]:
poem_list = []
poet2poem = {}

def process_poem(df):
    poem = ''
    for line in df['simple']:
        if(line[:2] == '##' or line[:2] == '$$'):
            line = line[2:]
        poem = poem + line + '\n'
    poem_list.append(poem)
    
cnt = 0
def process_poet(df):
    global cnt
    for idx, row in df.iterrows():
        if(row['line_number'] == -1):
            poet = row['simple'][2:]
            if poet in poet2poem:
                poet2poem[poet].append(cnt)
            else:
                poet2poem[poet] = [cnt]
            break
    cnt += 1

In [21]:
poem_df.groupby('Poem_id').apply(process_poem)

Empty DataFrame
Columns: []
Index: []

In [22]:
poem_df.groupby('Poem_id').apply(process_poet)

Empty DataFrame
Columns: []
Index: []

In [23]:
lb = poet2poem['李白']
poem_list[lb[0]]

'登岘山亭寄晋陵张少府\n李白\n岘首风湍急\n云帆若鸟飞\n凭轩试一问\n张翰欲来归\n'

In [24]:
# 保存
import pickle
with open('./var/poem_list', 'wb') as f:
    pickle.dump(poem_list, f)
with open('./var/poet2poem', 'wb') as f:
    pickle.dump(poet2poem, f)